
form {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  width: 300px;
  margin: 0 1em;
  padding: 1em;
  font-family: inherit;
  border: 1px solid #555;
  border-radius: 0;
}

button {
  color: white;
  background: #333;
  padding: 0 2em;
  font-family: inherit;
  font-weight: 400;
  font-size: 1em;
  border: none;
  transition: .3s;
}

button:hover {
  background: var(--main-color);
  cursor: pointer;
}