@import url('https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap');

:root {
  --main-color: #00ccff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

strong { 
  color: var(--main-color);
  font-weight: 400;
}

header {
  font-size: 4em;
  margin: 1em;
}